@import '~susy';
@import 'src/stylesheets/modules/colors';
@import 'src/stylesheets/modules/mixins';

.home {
    background: {
        color: #151515;
        // image: url('/static/svg/grid.svg');
        // repeat: no-repeat;
        // position: center bottom;
        // size: 100% auto;
    }

    &::after {
        animation: grain 5s steps(10) infinite;
        content: '';
        position: fixed;
        width: 300%;
        height: 300%;
        left: -100%;
        top: -100%;
        opacity: 0.35;
        pointer-events: none;
        z-index: 100;
        background: {
            color: transparent;
            image: url('/static/raster/noise.png');
        }
    }

    video {
        display: none;
        pointer-events: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0.25;
        z-index: 0;

        @include desktop {
            display: block;
        }

        @include big-desktop {
            display: block;
        }
    }
}

.home-nav {
    font-family: 'Adam';
    text-align: center;
    transform: translateY(-100%);
    margin-top: -2rem;
    font-size: 1.25rem;
    line-height: 3rem;
    position: relative;
    z-index: 20;

    @include big-desktop {
        font-size: 1.75rem;
    }

    @include phone {
        transform: none;
    }

    &__item {
        display: inline-block;
        margin: 0 1rem;
        text-decoration: none;
        color: white;
        opacity: 0.25;
        transition: opacity 250ms;
        // animation: hue-text 50s linear infinite;

        @include phone {
            display: block;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}

.home + .navigation {
    transform: translateX(200%);
    opacity: 0;
}

.main-footer {
    margin: auto auto 1rem;
    color: rgba(255, 255, 255, 0.25);
    font-size: 0.75em;
    text-align: center;

    @include phone {
        display: none;
    }
}
