@import 'src/stylesheets/modules/mixins';

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include phone {
        display: block;
    }

    .logo {
        height: 80vh;
        margin-top: 2rem;

        @include tablet {
            margin: 2rem 2rem 0;
        }

        @include phone {
            max-width: 80%;
            display: block;
            height: auto;
            margin: 2rem auto 4rem;
        }
    }
}
