<div class="navigation">
    <button class="navigation__toggler hamburger hamburger--spin" :class="{ 'is-active': showMenuItems }" @click="toggleMenu" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <nav class="navigation__nav" v-if="showMenuItems" transition="fade">
        <a class="navigation__nav__item" v-link="{ path: '/resume' }">Résumé</a>
        <a class="navigation__nav__item" v-link="{ path: '/projects' }">Projects</a>
        <a class="navigation__nav__item" v-link="{ path: '/about' }">About</a>
        <a class="navigation__nav__item" v-link="{ path: '/contact' }">Contact</a>
    </nav>
</div>
