@import 'src/stylesheets/modules/colors';

.cls-1 {
    fill: none;
    stroke: $color-text-alt;
    stroke-width: 0.125rem;
    stroke-dasharray: 2150;
    stroke-dashoffset: 2150;
    animation: dash 2s linear forwards;//, hue-stroke 50s linear infinite;
    animation-delay: 1s;
    transform: translate3d(0.375rem, -3.5rem, 0);
}

_:-ms-lang(x), .cls-1 {
    animation: none;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    opacity: 0.5;
} 

@supports (-ms-ime-align:auto) {
    .cls-1 {
        animation: none;
        stroke-dasharray: none;
        stroke-dashoffset: 0;
    }
}

.cls-2 {
    fill: #00bcd4;
}

.cls-3 {
    fill: #e91e63;
}

.cls-4 {
    fill: rgba(255, 255, 255, 0.9);
}
