@import 'src/stylesheets/modules/colors';
@import 'src/stylesheets/modules/mixins';

.logo {
    position: relative;
    max-height: 80%;
    margin-top: 3rem;
    perspective: 800px;
    transform-style: preserve-3d;
    z-index: 10;

    @include phone {
        max-width: 80%;
        margin: 2rem auto;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        max-height: 50%;
        max-width: 70%;
        mix-blend-mode: screen;
        transform-origin: left top;
        will-change: transform;
        transition: transform 500ms;
    }

    .triangle {
        fill: none;
        stroke: $color-text-alt;
        stroke-width: 0.125rem;
        stroke-dasharray: 2150;
        stroke-dashoffset: 2150;
        animation: dash 2s linear forwards;//, hue-stroke 50s linear infinite;
        animation-delay: 1s;
        transform: translate3d(0.375rem, -3.5rem, 0);
    }

    svg {
        height: 80vh;
        width: auto;
        margin: auto;
        display: block;

        @include phone {
            width: 100%;
            height: auto;
        }
    }

    .name {
        margin-top: -1rem;
        transform: rotateX(3deg) translate3d(-50%, -50%, 3rem);
    }

    .title {
        margin-top: 3rem;
        transform: rotateX(-3deg) translate3d(-50%, -50%, -3rem);
    }
}

_:-ms-lang(x), .logo .triangle {
    animation: none;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    opacity: 0.5;
}
