// Vendor
@import '~normalize.css';
@import '~hamburgers';

// Modules
@import 'src/stylesheets/modules/colors';

// Fonts
@import 'src/stylesheets/fonts/adam';
@import 'src/stylesheets/fonts/didactic';
@import 'src/stylesheets/typography';

// Misc
@import 'src/stylesheets/util/clearfix';
@import 'src/stylesheets/transitions';

:root {
    font-family: 'Didactic';
    color: $color-text;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    user-select: none;
}

body {
    font-size: 1.125rem;
}

#app > section {
    @extend .clearfix;
    min-height: 100vh;
}
