@import 'src/stylesheets/modules/colors';

.fade-transition {
    opacity: 1;
    transition: opacity 250ms;
}

.fade-enter, .fade-leave {
    opacity: 0;
}

.slide-transition {
    transform: translateX(0);
    transition: transform 250ms, opacity 250ms;
    opacity: 1;
    will-change: transform;
}

.slide-enter, .slide-leave {
    transform: translateX(200%);
    opacity: 0;
}

.reveal-transition {
    animation: none;
}

.reveal-enter {
    animation: reveal 2s forwards;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.reveal-leave {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

// Top-Center, Left-Bottom, Right-Bottom
@keyframes reveal {
    from { clip-path: polygon(50% 50%, 50% 50%, 50% 50%); }
    to { clip-path: polygon(50% -200%, -100% 200%, 200% 200%); }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes hue-stroke {
    0% { stroke: $color-text-alt; }
    25% { stroke: $color-yellow; }
    50% { stroke: $color-pink; }
    75% { stroke: $color-cyan; }
    100% { stroke: $color-text-alt; }
}

@keyframes hue-text {
    0% { color: $color-text-alt; }
    25% { color: $color-yellow; }
    50% { color: $color-pink; }
    75% { color: $color-cyan; }
    100% { color: $color-text-alt; }
}

@keyframes grain {
    0%, 100% { transform: translate(0, 0); }
    10% { transform: translate(-5%, -10%); }
    20% { transform: translate(-15%, 5%); }
    30% { transform: translate(7%, -25%); }
    40% { transform: translate(-5%, 25%); }
    50% { transform: translate(-15%, 10%); }
    60% { transform: translate(15%, 0%); }
    70% { transform: translate(0%, 15%); }
    80% { transform: translate(3%, 35%); }
    90% { transform: translate(-10%, 10%); }
}
