h1, h2, h3, h4, h5, h6 {
    font-family: 'Adam';
}

p {
    line-height: 1.85;
    margin: 1.5em auto;
}

em {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
