@import 'src/stylesheets/modules/colors';
@import 'src/stylesheets/modules/mixins';
@import 'src/stylesheets/util/init-grid';

.resume {
    background: white;

    .title {
        @include span(2 of 12);
        @include phone {
            display: none;
        }
    }

    article {
        @include container;
        max-width: 74rem;
        position: relative;
        z-index: 1;

        @include phone {
            padding: 0 1rem;
        }

        @include big-desktop {
            max-width: 88rem;
        }

        > h1 {
            @include span(8 of 12);
            @include push(2);
            color: $color-cyan;
            margin-bottom: 1em;
            margin-top: 1.15em;

            @include phone {
                font-size: 1.5em;
                @include span(12 of 12);
                @include push(0);
            }

            small {
                font-size: 0.35em;
                color: lighten($color-text, 20%);
            }
        }

        &.header {
            margin-top: 3rem;

            @include phone {
                margin-top: 0;
            }

            div {
                @include span(8 of 12);
                @include phone {
                    @include span(12 of 12);
                }

                img {
                    @include span(2 of 8);
                    @include phone {
                        display: none;
                    }
                }
            }

            h1, p {
                @include span(6 of 8);
                margin-top: 0;
                margin-bottom: 0;

                @include phone {
                    @include span(12 of 12);
                }
            }

            h1 {
                color: $color-pink;
                font-size: 1.75em;
                margin-bottom: 0.3em;
                margin-top: 2.75rem;

                @include phone {
                    margin-top: 1rem;
                }
            }

            p {
                font-size: 1.125em;
                line-height: 1.5;
            }
        }
    }

    .toolbox {
        text-align: center;
        padding: 0;
        clear: both;
        margin-bottom: 2rem;

        @include phone {
            @include container;
            white-space: normal;
        }

        @include tablet {
            @include container;
            white-space: normal;
        }

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0.5rem 1rem;

            @include phone {
                @include span(4 of 12);
            }

            @include tablet {
                @include span(3 of 12);
                margin-bottom: gutter() * 6;
            }
        }

        img {
            display: block;
            height: 4.5rem;
            max-width: 4.5rem;
            width: auto;
            margin: auto;
        }
    }

    .education, .experience,
    .recommendation, .award {
        @include span(8 of 12);
        @include push(2);

        @include phone {
            @include span(12 of 12);
            @include push(0);
        }
    }
}
