$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$big-desktop-width: 1440px;

@mixin phone {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin big-desktop {
    @media (min-width: #{$big-desktop-width}) {
        @content;
    }
}

@mixin text-inputs {
    input[type="text"], input[type="email"], input[type="password"],
    input[type="number"], input[type="search"], input[type="url"],
    input[type="tel"], input[type="date"], input[type="datetime"],
    input[type="datetime-local"], input[type="month"], input[type="day"],
    input[type="week"], input[type="time"], textarea {
        @content;
    }
}

@mixin buttons {
    input[type="submit"], input[type="reset"],
    input[type="button"], button, .button {
        @content;
    }
}

@mixin paragraph-decor {
    &::after {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: middle;
        margin-left: 0.5rem;
        background: {
            image: url('/static/svg/decor-small.svg');
            repeat: no-repeat;
            size: 1rem 1rem;
        }
    }
}

@mixin film-grain {
    position: relative;
    overflow: hidden;

    &::after {
        animation: grain 5s steps(10) infinite;
        content: '';
        position: fixed;
        width: 300%;
        height: 300%;
        left: -100%;
        top: -100%;
        opacity: 0.35;
        pointer-events: none;
        z-index: 100;
        background: {
            color: transparent;
            image: url('/static/raster/noise.png');
        }
    }
}
