@import 'src/stylesheets/modules/colors';
@import 'src/stylesheets/modules/mixins';
@import 'src/stylesheets/util/init-grid';

.about {
    background: {
        color: #222;
        image: url('/static/raster/myself@2x.png');
        repeat: no-repeat;
        size: 50% auto;
    }

    h1 {
        color: $color-text;
        font-size: 2.5em;
        text-align: right;
        margin-bottom: 0;
        @include span(3 of 12);
    }

    article {
        @include container;
        max-width: 74rem;

        @include big-desktop {
            max-width: 88rem;
        }

        > div {
            @include span(6 of 12);
            @include push(6);
            position: relative;

            &::before {
                content: '';
                height: 2rem;
                width: 2rem;
                position: absolute;
                top: 0;
                right: 100%;
                margin-right: 1rem;
                background: {
                    image: url('/static/svg/decor-medium.svg');
                    repeat: no-repeat;
                }
            }

            p:first-child {
                margin-top: 0;
            }
        }
    }

    + .navigation {
        .navigation__toggler {
            background-color: rgba(255, 255, 255, 0.15);
        }
    }
}
