@font-face {
    font-family: 'Adam';
    src: url('/static/fonts/adam/adam.woff2') format('woff2'),
         url('/static/fonts/adam/adam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
