@font-face {
    font-family: 'Didactic';
    src: url('/static/fonts/didactic/didactic.woff2') format('woff2'),
         url('/static/fonts/didactic/didactic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
